<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/farm.css' %}">
    <title>Login - RabbitFarm</title>
</head>

<body class="auth-page">
    <div class="auth-card">

    

        <div style="font-size: 50px;">🐇</div>

        <h1>RabbitFarm</h1>

        <h2>Login</h2>

<p style="margin-bottom: 20px;">
    Вхід до системи управління фермою
</p>

        <form method="post" class="auth-form">
    {% csrf_token %}

    {{ form.as_p }}

    <button type="submit" class="auth-btn">
        Login
    </button>

</form>
        <p style="margin-top: 15px; color: gray; font-size: 14px;">
    Відновлення пароля буде доступне пізніше
</p>

    </div>

    <footer style="
        margin-top: 40px;
        padding: 15px;
        font-size: 13px;
        color: gray;
        border-top: 1px solid #ddd;
        text-align: center;
    ">
        © 2026 RabbitFarm Systems | Ukraine | e-mail: uyriyy2007@gmail.com | phone: +380660891181
    </footer>

</body>
</html>