<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/farm.css' %}">
    <title>Signup - RabbitFarm</title>
</head>

<body class="auth-page">
    <div class="auth-card">

        <div class="auth-logo">🐇</div>

        <h1>RabbitFarm</h1>

        <h2>Signup</h2>

        <p style="margin-bottom: 20px;">
            Створіть обліковий запис і зареєструйте свою ферму в RabbitFarm
        </p>

        <form method="post">
            {% csrf_token %}

            {% if form.errors %}
                <div style="
                    color: red;
                    border: 1px solid red;
                    padding: 10px;
                    margin-bottom: 10px;
                ">
                    <strong>Будь ласка, виправте помилки:</strong>
                    {{ form.errors }}
                </div>
            {% endif %}

            {{ form.as_p }}
            <div>
    <button type="submit" class="auth-btn">
        Signup
    </button>
            </div>
            
        </form>

    </div>

    <<footer class="auth-footer">
        © 2026 RabbitFarm Systems | Ukraine | e-mail: uyriyy2007@gmail.com | phone: +380660891181
    </footer>

</body>
</html>