{% extends "base.html" %}

{% block content %}
<div class="container mt-4">
    <h2>Groups</h2>

    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Name</th>
                <th>Cage</th>
                <th>Rabbits count</th>
                <th>Дія</th>
            </tr>
        </thead>
        <tbody>
            {% for group in groups %}
            <tr>
                <td>{{ group.name }}</td>
                <td>{{ group.cage_number }}</td>
                <td>{{ group.rabbits_count }}</td>
                <td>
                    <a href="{% url 'edit_group' group.pk %}" class="btn btn-sm btn-warning">
                      Edit
                    </a>
                </td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="4">No groups yet</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}