{% extends "base.html" %}
{% load i18n %}

{% block content %}
<div class="container mt-4">
    <div class="d-flex justify-content-between align-items-center mb-3">
    <h1>{% trans "Groups" %}</h1>
<a href="{% url 'create_group' %}" class="btn btn-outline-success">
    + {% trans "Create Group" %}
</a>
</div>



    <div class="d-none d-md-block"> <table class="table table-bordered">
        <thead>
            <tr>
                <th>{% trans "Name" %}</th>
                <th>{% trans "Cage" %}</th>
                <th>{% trans "Count" %}</th>
                <th>{% trans "Description" %}</th>
                <th>{% trans "Last Event" %}</th>
                <th>{% trans "Next Action" %}</th>
                <th>{% trans "Next Action Date" %}</th>
                <th>{% trans "Actions" %}</th>
            </tr>
        </thead>
        <tbody>
            {% for group in groups %}
            <tr>
                <td>{{ group.name }}</td>
                <td>{{ group.cage_number }}</td>
                <td>{{ group.rabbits_count }}</td>
                <td>{{ group.description }}</td>
                <td>
            {% if group.last_event %}
                {{ group.last_event.get_event_type_display }}
            {% else %}
                —
            {% endif %}
            </td>

            <td>
            {% if group.last_event and group.last_event.next_action %}
                {{ group.last_event.get_next_action_display }}
            {% else %}
                —
            {% endif %}
            </td>

            <td>
            {% if group.last_event and group.last_event.next_action_date %}
                {{ group.last_event.next_action_date|date:"d.m.Y" }}
            {% else %}
                —
            {% endif %}
            </td>
                <td>
                    <div class="dropdown">
                        <button class="btn btn-sm btn-outline-secondary dropdown-toggle"
                                type="button"
                                data-bs-toggle="dropdown">
                            {% trans "Actions" %}
                            </button>

                    <ul class="dropdown-menu">

                        <li>
                            <a class="dropdown-item"
                            href="{% url 'create_group_event' group.pk %}">
                                {% trans "Create Event" %}
                            </a>
                        </li>

                            {% if group.last_event %}
                            <li>
                                <a class="dropdown-item text-danger"
                                href="{% url 'delete_event' group.last_event.id %}">
                                    {% trans "Delete Event" %}
                                </a>
                            </li>
                            {% endif %}

                            <li><hr class="dropdown-divider"></li>

                            <li>
                                <a class="dropdown-item"
                                href="{% url 'edit_group' group.pk %}">
                                    {% trans "Edit" %}
                                </a>
                            </li>

                        <li>
                            <a class="dropdown-item text-danger"
                            href="{% url 'delete_group' group.pk %}">
                                {% trans "Delete" %}
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item"
                            href="{% url 'separate_by_sex' group.id %}">
                            {% trans "Separate by Sex" %}
                            </a>
                        </li>

                    </ul>
                    </div>
                </td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="4">{% trans "No groups yet" %}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    </div>
    <p style="margin-top: 24px; color: gray; font-size: 15px;">
    {% blocktrans %}Groups are created after weaning, when young rabbits move to separate records. Until then, kits remain with the doe.{% endblocktrans %}
</p>
</div>
<div class="d-md-none">
    {% for group in groups %}
        <div class="card mb-3">
            <div class="card-body">

                <h5>{{ group.name }}</h5>

                <p>📍 {% trans "Cage:" %} {{ group.cage_number }}</p>

                <p>👥 {% trans "Count:" %} {{ group.rabbits_count }}</p>

                <p>📝 {{ group.description }}</p>

                <p>📋 {% trans "Last Event:" %}

                {% if group.last_event %}
                    {{ group.last_event.get_event_type_display }}
                {% else %}
                    —
                {% endif %}
                </p>

                <p>
                ⏭️ {% trans "Next Action:" %}
                {% if group.last_event and group.last_event.next_action %}
                    {{ group.last_event.get_next_action_display }}
                {% else %}
                    —
                {% endif %}
                </p>

                <p>
                📅
                {% if group.last_event and group.last_event.next_action_date %}
                    {{ group.last_event.next_action_date|date:"d.m.Y" }}
                {% else %}
                    —
                {% endif %}
                </p>

                <!-- меню дій -->
                 <div class="dropdown mt-3">
    <button class="btn btn-sm btn-outline-secondary dropdown-toggle"
            type="button"
            data-bs-toggle="dropdown">
        {% trans "Actions" %}
    </button>

    <ul class="dropdown-menu">

        <li>
            <a class="dropdown-item"
               href="{% url 'create_group_event' group.pk %}">
                {% trans "Create Event" %}
            </a>
        </li>

        {% if group.last_event %}
        <li>
            <a class="dropdown-item text-danger"
               href="{% url 'delete_event' group.last_event.id %}">
                {% trans "Delete Event" %}
            </a>
        </li>
        {% endif %}

        <li><hr class="dropdown-divider"></li>

        <li>
            <a class="dropdown-item"
               href="{% url 'edit_group' group.pk %}">
                {% trans "Edit" %}
            </a>
        </li>

        <li>
            <a class="dropdown-item text-danger"
               href="{% url 'delete_group' group.pk %}">
                {% trans "Delete" %}
            </a>
        </li>

        <li>
            <a class="dropdown-item"
               href="{% url 'separate_by_sex' group.id %}">
                {% trans "Separate by Sex" %}
            </a>
        </li>

    </ul>
</div>

            </div>
        </div>
    {% endfor %}
</div>
{% endblock %}