{% extends "base.html" %}

{% block content %}
<div class="container mt-4">
    <div class="d-flex justify-content-between align-items-center mb-3">
    <h1>Groups</h1>
    <a href="{% url 'create_group' %}" class="btn btn-outline-success">+ Create Group</a>
</div>

    

    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Name</th>
                <th>Cage</th>
                <th>Rabbits count</th>
                <th>Description</th>
                <th>Дія</th>
            </tr>
        </thead>
        <tbody>
            {% for group in groups %}
            <tr>
                <td>{{ group.name }}</td>
                <td>{{ group.cage_number }}</td>
                <td>{{ group.rabbits_count }}</td>
                <td>{{ group.description }}</td>
                <td>
                    <a href="{% url 'edit_group' group.pk %}" class="btn btn-outline-secondary btn-sm">
                      Edit
                    </a>
                </td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="4">No groups yet</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <p style="margin-top: 24px; color: gray; font-size: 15px;">
    Група створюється після відсадки, коли молодняк переходить до окремого обліку.
    До цього часу кроленята перебувають із самкою.
</p>
</div>
{% endblock %}