{% extends "base.html" %}

{% load static i18n %}

{% block content %}

<h2>{% trans "Rabbit Details" %}</h2>

<div class="card mb-4">
   <div class="card-body">
    <div class="row">

        <div class="col-md-4 text-center">
            {% if rabbit.photo %}
                <img src="{{ rabbit.photo.url }}" class="img-fluid rounded" alt="{% trans 'Rabbit Photo' %}">
            {% else %}
                <img src="{% static 'images/rabbit_default.png' %}" class="img-fluid rounded" alt="{% trans 'Rabbit Photo' %}">
            {% endif %}
                 
        </div>

        <div class="col-md-8" style="line-height: 2;">
            <p><strong>{% trans "Inventory Number:" %}</strong> {{ rabbit.inventory_number }}</p>
            <p><strong>{% trans "Name:" %}</strong> {{ rabbit.name }}</p>
            <p><strong>{% trans "Sex:" %}</strong> {{ rabbit.get_sex_display }}</p>
            <p><strong>{% trans "Status:" %}</strong> {{ rabbit.get_status_display }}</p>
            <p><strong>{% trans "Birth Date:" %}</strong> {{ rabbit.birth_date }}</p>
            <p><strong>{% trans "Breed:" %}</strong> {{ rabbit.breed }}</p>
            <p><strong>{% trans "Cage:" %}</strong> {{ rabbit.cage }}</p>
        </div>

    </div>
</div>
</div>

<a href="{% url 'rabbit_list' %}" class="btn btn-secondary">
    {% trans "Back to List" %}
</a>

<hr>

<h4>{% trans "Event History" %}</h4>

{% if events %}
<div class="table-responsive">
    <table class="table table-striped">
    <thead>
        <tr>
            <th>{% trans "Date" %}</th>
            <th>{% trans "Event Type" %}</th>
            <th>{% trans "Next Action" %}</th>
            <th>{% trans "Next Action Date" %}</th>
            <th>{% trans "Status" %}</th>
            <th>{% trans "Note" %}</th>
            <th>{% trans "Born Alive" %}</th>
            <th>{% trans "Born Dead" %}</th>
        </tr>
    </thead>
    <tbody>
        {% for event in events %}
        <tr>
            <td>{{ event.date }}</td>
            <td>{{ event.get_event_type_display }}</td>
            <td>{{ event.next_action }}</td>

            <td>
                {% if event.next_action_date %}
                    {{ event.next_action_date|date:"d.m.Y" }}
                {% else %}
                    —
                {% endif %}
            </td>

            <td>{{ event.status|default:"—" }}</td>
            <td>{{ event.note }}</td>
            <td>{{ event.born_alive|default:"—" }}</td>
            <td>{{ event.born_dead|default:"—" }}</td>
        </tr>
        {% endfor %}
    </tbody>
    </table>
{% else %}
<p>{% trans "No events yet." %}</p>
{% endif %}

{% endblock %}
