{% extends "base.html" %}
{% load i18n static rabbit_filters %}

{% block content %}

<h2>
    {% if form.instance.pk %}
        {% trans "Edit Rabbit" %}
    {% else %}
        {% trans "Add Rabbit" %}
    {% endif %}
</h2>

<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {% for field in form %}
    {% if field.name == "conditional_class" %}
        <div id="conditional-class-field" style="display: none;">
            {{ field.label_tag }}
            {{ field }}
            {% for error in field.errors %}
                <span class="text-danger">{{ error }}</span>
            {% endfor %}
        </div>
    {% else %}
        <p>
            {{ field.label_tag }}
            {{ field }}
            {% for error in field.errors %}
                <span class="text-danger">{{ error }}</span>
            {% endfor %}
        </p>
    {% endif %}
{% endfor %}
    <datalist id="breed-suggestions">
    {% for breed in breed_suggestions %}
        <option value="{{ breed }}" label="{{ breed|breed_name }}"></option>
    {% endfor %}
</datalist>

    <button type="submit" class="btn btn-outline-secondary px-4">
    {% trans "Save" %}
    </button>
</form>
<script src="{% static 'js/rabbit_form.js' %}"></script>

{% endblock %}