
{% extends "base.html" %}

{% block content %}

<h2>Журнал обліку кроликів</h2>

<table class="table">
    <thead>
        <tr>
            <th>№</th>
            <th>Кличка</th>
            <th>Стать</th>
            <th>Вік</th>
            <th>Вага</th>
            <th>Порода</th>
            <th>Остання подія</th>
            <th>Дата</th>
            <th>Наступна дія</th>
            <th>Статус</th>
        </tr>
    </thead>
    <tbody>
        {% for rabbit in rabbits %}
        <tr>
            <td>{{ rabbit.inventory_number }}</td>
            <td> <a href="{% url 'rabbit_detail' rabbit.pk %}">
                    {{ rabbit.name }}
                 </a>
            </td>
            <td>{{ rabbit.get_sex_display }}</td>
            <td>{{ rabbit.age_display }}</td>
            <td>{% if rabbit.weight %}
                    {{ rabbit.weight }} кг
                {% else %}
                    —
                {% endif %}
            </td>
            <td>{{ rabbit.breed }}</td>

            <td>
                {% if rabbit.last_event %}
                    {{ rabbit.last_event.get_event_type_display }}
                {% else %}
                    —
                {% endif %}
            </td>

            <td>
                {% if rabbit.last_event %}
                    {{ rabbit.last_event.date }}
                {% else %}
                    —
                {% endif %}
            </td>

            <td>
                {% if rabbit.last_event %}
                    {{ rabbit.last_event.next_action }}
                {% else %}
                    —
                {% endif %}
            </td>

            <td>
                {% if rabbit.last_event %}
                {% if rabbit.last_event.status == "критична подія" %}
            🔴 {{ rabbit.last_event.status }}
        {% elif rabbit.last_event.status == "важлива подія" %}
            🟡 {{ rabbit.last_event.status }}
        {% else %}
            🟢 {{ rabbit.last_event.status }}
        {% endif %}
    {% else %}
        —
    {% endif %}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}


