{% extends 'base.html' %}
{% load i18n %}

{% block content %}

<div class="card p-4">

    <h2 class="mb-4">{{ farm.name }}</h2>

    <div class="row align-items-center">
        <div class="col-md-5">
            {% if farm.image %}
             <img src="{{ farm.image.url }}" class="rounded" alt="{{ farm.name }}" style="width:350px; height:auto;">
            {% else %}
             <div class="text-muted">{% trans "No farm photo available" %}</div>
            {% endif %}
        </div>

        <div class="col-md-7">
            <p><strong>{% trans "Location" %}:</strong> {{ farm.location }}</p>
            <p><strong>{% trans "Phone" %}:</strong> {{ farm.phone }}</p>
            <p><strong>{% trans "Description" %}:</strong> {{ farm.description }}</p>

            <a href="{% url 'edit_farm' %}" class="btn btn-outline-secondary btn-sm mt-3">
                {% trans "Edit Farm" %}
            </a>
        </div>
    </div>
</div>

{% if not farm.rabbits.exists %}

<div class="card p-4 mt-4 text-center">

    <h4 class="mb-3">{% trans "You don't have any rabbits yet 🐰" %}</h4>

    <p class="text-muted">
        {% trans "Start your records by adding your first rabbit." %}
    </p>

    <a href="{% url 'rabbit_list' %}" class="btn btn-success mt-2">
        {% trans "Open Rabbit Records" %}
    </a>

</div>

{% endif %}

{% endblock %}