{% extends 'base.html' %}

{% block content %}

<div class="card p-4">

    <h2 class="mb-4">{{ farm.name }}</h2>

    <div class="row align-items-center">
        <div class="col-md-5">
            {% if farm.image %}
             <img src="{{ farm.image.url }}" class="rounded" alt="{{ farm.name }}" style="width:350px; height:auto;">
            {% else %}
             <div class="text-muted">No image available</div>
            {% endif %}
        </div>

        <div class="col-md-7">
            <p><strong>Location:</strong> {{ farm.location }}</p>
            <p><strong>Phone:</strong> {{ farm.phone }}</p>
            <p><strong>Description:</strong> {{ farm.description }}</p>

            <a href="{% url 'edit_farm' %}" class="btn btn-outline-secondary btn-sm mt-3">
                Edit Farm
            </a>
        </div>
    </div>
</div>
{% if not farm.rabbits.exists %}

<div class="card p-4 mt-4 text-center">

    <h4 class="mb-3">У вас ще немає кролів 🐰</h4>

    <p class="text-muted">
        Почніть заповнення журналу обліку, додавши першого кролика.
    </p>

    <a href="{% url 'rabbit_list' %}" class="btn btn-success mt-2">
        Заповнити журнал обліку
    </a>

</div>

{% endif %}


{% endblock %}