{% extends "base.html" %}

{% block content %}


<h1>Ферма: {{ farm.name }}</h1>

<div class="d-flex justify-content-between align-items-center">

    <h3>Стан ферми</h3>

    <div class="traffic-light">

        <div class="lamp {% if green_light %}active-green{% endif %}"></div>

<div class="lamp {% if yellow_light %}active-yellow{% endif %}"></div>

<div class="lamp {% if red_light %}active-red{% endif %}"></div>
    </div>

</div>

<div class="row">

  <div class="col-md-4">
    <div class="card text-center">
      <div class="card-body">
        <h5 class="card-title">Кролі</h5>
        <h2>{{ rabbits_count }}</h2>
      </div>
    </div>
  </div>

  <div class="col-md-4">
    <div class="card text-center">
      <div class="card-body">
        <h5 class="card-title">Самки</h5>
        <h2>{{ females }}</h2>
      </div>
    </div>
  </div>

  <div class="col-md-4">
    <div class="card text-center">
      <div class="card-body">
        <h5 class="card-title">Самці</h5>
        <h2>{{ males }}</h2>
      </div>
    </div>
  </div>

</div>

<h2>🚦 Що потрібно зробити</h2>

{% if due_events %}
<ul>
    {% for event in due_events %}
        <li>
            {{ event.date }} —
            {{ event.rabbit.inventory_number }}
            ({{ event.get_event_type_display }})
        </li>
    {% endfor %}
</ul>
{% else %}
<p>✅ На сьогодні завдань немає</p>
{% endif %}

{% endblock %}