<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RabbitFarm</title>
</head>

<body style="font-family: Arial; background-color: #f8f9f5; margin: 0;">

    <div style="
        width: 650px;
        margin: 80px auto;
        padding: 35px;
        background-color: white;
        border: 1px solid #ddd;
        text-align: center;
    ">
        <div style="font-size: 50px;">🐇</div>
        <h1>RabbitFarm</h1>

        <h2>Система обліку та контролю сучасної кролеферми</h2>

        <p>
            Контроль зоотехнічних подій, облік поголів'я, груп молодняка та основних виробничих процесів.
        </p>

        <p>
            📅 Події &nbsp;&nbsp;
            🐇 Поголів'я &nbsp;&nbsp;
            📋 Групи
        </p>

        <p>
            <a href="/accounts/login/" style="margin-right: 20px;">Login</a>
            <a href="/accounts/signup/">Signup</a>
        </p>

        <p style="margin-top: 30px; font-size: 14px; color: gray;">
            by RabbitFarm Systems
        </p>

    </div>
    <footer style="
    margin-top: 40px;
    padding: 15px;
    font-size: 13px;
    color: gray;
    border-top: 1px solid #ddd;
    text-align: center;
">
    © 2026 RabbitFarm Systems | Ukraine | e-mail: uyriyy2007@gmail.com | phone: +380660891181
</footer>

</body>
</html>